RMT_PLAYER  RMTPLAY 'music.feat' 0

FNT_TITLE   rcdata  'assets/title.fnt'
SCR_TITLE   rcdata  'assets/title.scr'
FAD_titLE   rcdata  'assets/fade.dat'

SPR_ADDR    rcasm   'assets/sprites.a65'

FNT_STATUS  rcdata  'assets/status.fnt'
STATUS_ADDR rcdata  'assets/status.dat'

GOVER_ADDR  rcdata  'assets/gameover.dat'
CRATER_ADDR rcdata  'assets/crater.dat'

FNT_GAME    rcdata  'assets/game3.fnt'

DL_TITLE    rcasm   'title_dlist.a65'
DL_GAME     rcasm   'game_dlist.a65'

RMT_MODUL   RMT     'assets/music.rmt'
